<!DOCTYPE html>
<html>
<head lang="en">
    <title></title>
    <style>
        .last-item {
            background-color: #f06522;
        }
    </style>
</head>
<body>
   <div class="container"></div>
   <script src="lib/handlebars.js"></script>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script id="x-template" type="text/x-handlebars-template">
       <ul class="people_list">
           {{#foreach people}}
           <li class="{{#if $last}}last-item{{/if}}">{{this}}</li>
           {{/foreach}}
       </ul>
   </script>
   <script id="x-template-2" type="text/x-handlebars-template">
      <h1>By {{fullName author}}</h1>
   </script>
   <script id="x-template-3" type="text/x-handlebars-template">
       {{link "see more..." story.url href=story.url class="story"}}
   </script>
   <script>
       (function(){
           Handlebars.registerHelper("foreach",function(arr, options) {
               if (options.inverse && !arr.length) {
                   return options.inverse(this);
               }

               return arr.map(function(item,index) {
                   if (typeof item === 'string') {
                       var item = new String(item);
                   }
                   item.$index = index;
                   item.$first = index === 0;
                   item.$last  = index === arr.length-1;
                   return options.fn(item);
               }).join('');
           });

          function run1(){
              var tpl = Handlebars.compile($("#x-template").html());
              var data = {
                  people: [
                      "Yehuda Katz",
                      "Alan Johnson",
                      "Charles Jolley"
                  ]
              };
              var html = tpl(data);
              $(".container").append($(html));
          }

          function run2(){
             var data = {author: {firstName: "Alan", lastName: "Johnson"}};
             var tpl = Handlebars.compile($("#x-template-2").html());
             Handlebars.registerHelper('fullName', function(person, options) {
               return person.firstName + " " + person.lastName;
             });
             tpl(data);
             $(".container").append(tpl(data));
          }

          function run3(){
             var data = {story:{url: "www.handlerbars.com", text: "helper identifier"}}
             Handlebars.registerHelper("link", function(text, url, options){
                return new Handlebars.SafeString(
                    "<div>" +  text + "  " + url + "</div>"
                );
            });
             var tpl = Handlebars.compile($("#x-template-3").html());
             $(".container").append(tpl(data));
          }

          function run5(){
              var source = "{{#compare '5' '6' operator='=='}} A and B are equal {{else}} Not equal {{/compare}}";
              var template = Handlebars.compile(source);
              Handlebars.registerHelper('compare', function(lvalue, rvalue, options) {
                  if (arguments.length < 3)
                      throw new Error("Handlerbars Helper 'compare' needs 2 parameters");

                  operator = options.hash.operator || "==";
                  console.log(options.fn);
                  console.log(options.inverse);
                  var operators = {
                      '==':       function(l,r) { return l == r; },
                      '===':      function(l,r) { return l === r; },
                      '!=':       function(l,r) { return l != r; },
                      '<':        function(l,r) { return l < r; },
                      '>':        function(l,r) { return l > r; },
                      '<=':       function(l,r) { return l <= r; },
                      '>=':       function(l,r) { return l >= r; },
                      'typeof':   function(l,r) { return typeof l == r; }
                  }

                  if (!operators[operator])
                      throw new Error("Handlerbars Helper 'compare' doesn't know the operator "+operator);

                  var result = operators[operator](lvalue,rvalue);

                  if( result ) {
                      return options.fn(this);
                  } else {
                   return options.inverse(this);
                   }

              });
             console.log(template());
          }

          function run4(){
              var source = "<ul>{{#each kids}}<li>{{this.name}} is {{this.age}}</li>{{/each}}</ul>";
              var template = Handlebars.compile(source);
              var data = {"kids":[{"name": "Jimmy", "age": "12"}, {"name": "Sally", "age": "4"}]};
              var result = template(data);
              console.log(result);
          }

          run5();
       })();
   </script>
</body>
</html>